# **<u>DBMS Experiment 10</u>**

In [1]:
CREATE DATABASE CS210Exp10;

In [2]:
USE CS210Exp10;

In [3]:
CREATE TABLE Employees (
    EmpID INT PRIMARY KEY,
    Name VARCHAR(50),
    Department VARCHAR(50),
    Salary DECIMAL(10, 2)
);

In [4]:
INSERT INTO Employees (EmpID, Name, Department, Salary) VALUES
(1, 'Aarav', 'HR', 50000),
(2, 'Bhavna', 'HR', 55000),
(3, 'Chirag', 'IT', 70000),
(4, 'Divya', 'IT', 72000),
(5, 'Esha', 'Finance', 60000),
(6, 'Farhan', 'Finance', 58000),
(7, 'Garima', 'IT', 69000),
(8, 'Harsh', 'HR', 53000);

## Aggregate Functions

In [5]:
SELECT COUNT(*) AS Total_Employees FROM Employees;

Total_Employees
8

In [6]:
SELECT SUM(Salary) AS Total_Salary FROM Employees;

Total_Salary
487000.00

In [7]:
SELECT AVG(Salary) AS Average_Salary FROM Employees;

Average_Salary
60875.000000

In [8]:
SELECT MIN(Salary) AS Minimum_Salary, MAX(Salary) AS Maximum_Salary FROM Employees;

Minimum_Salary,Maximum_Salary
50000.00,72000.00

## Using GROUP BY

In [9]:
SELECT Department, COUNT(*) AS Number_of_Employees
FROM Employees
GROUP BY Department;

Department,Number_of_Employees
HR,3
IT,3
Finance,2

In [10]:
SELECT Department, AVG(Salary) AS Avg_Salary
FROM Employees
GROUP BY Department;

Department,Avg_Salary
HR,52666.666667
IT,70333.333333
Finance,59000.000000

In [11]:
SELECT Department, SUM(Salary) AS Total_Salary
FROM Employees
GROUP BY Department;

Department,Total_Salary
HR,158000.00
IT,211000.00
Finance,118000.00

## Using HAVING

In [12]:
SELECT Department, AVG(Salary) AS Avg_Salary
FROM Employees
GROUP BY Department
HAVING AVG(Salary) > 60000;

Department,Avg_Salary
IT,70333.333333