# **<u>DBMS Experiment 3</u>**

In [1]:
CREATE DATABASE CS210Exp3;

In [2]:
USE CS210Exp3;

In [3]:
CREATE TABLE Faculty(
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Department VARCHAR(50),
    Salary INT
);

In [4]:
DESCRIBE Faculty;

Field,Type,Null,Key,Default,Extra
ID,b'int',NO,PRI,NULL,
Name,b'varchar(50)',YES,,NULL,
Department,b'varchar(50)',YES,,NULL,
Salary,b'int',YES,,NULL,

In [7]:
INSERT INTO Faculty (ID, Name, Department, Salary) VALUES (1101, 'Dr Madhav Mishra', 'CSE', 250000);
INSERT INTO Faculty (ID, Name, Department, Salary) VALUES (1102, 'Dr Kshitij Sinha', 'CSE', 200000);
INSERT INTO Faculty (ID, Name, Department, Salary) VALUES (1103, 'Dr Kunal Bansal', 'ECE', 100000);
INSERT INTO Faculty (ID, Name, Department, Salary) VALUES (1104, 'Dr Neal Saxena', 'CSE', 30000);

In [8]:
SELECT * FROM Faculty;

ID,Name,Department,Salary
1101,Dr Madhav Mishra,CSE,250000
1102,Dr Kshitij Sinha,CSE,200000
1103,Dr Kunal Bansal,ECE,100000
1104,Dr Neal Saxena,CSE,30000

In [9]:
UPDATE Faculty SET Salary = 300000 WHERE Name = 'Dr Neal Saxena';

In [10]:
SELECT * FROM Faculty

ID,Name,Department,Salary
1101,Dr Madhav Mishra,CSE,250000
1102,Dr Kshitij Sinha,CSE,200000
1103,Dr Kunal Bansal,ECE,100000
1104,Dr Neal Saxena,CSE,300000

In [11]:
DELETE FROM Faculty WHERE Department = 'ECE';

In [12]:
SELECT * FROM Faculty;

ID,Name,Department,Salary
1101,Dr Madhav Mishra,CSE,250000
1102,Dr Kshitij Sinha,CSE,200000
1104,Dr Neal Saxena,CSE,300000

In [13]:
SELECT Name, Salary FROM Faculty;

Name,Salary
Dr Madhav Mishra,250000
Dr Kshitij Sinha,200000
Dr Neal Saxena,300000

In [14]:
SELECT ID, Name FROM Faculty;

ID,Name
1101,Dr Madhav Mishra
1102,Dr Kshitij Sinha
1104,Dr Neal Saxena