# **<u>DBMS Experiment 4</u>**

In [1]:
CREATE DATABASE CS210Exp4;

In [2]:
USE CS210Exp4;

In [12]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50)
);

In [13]:
CREATE TABLE subjects (
    subject_id INT PRIMARY KEY,
    student_id INT,
    subject_name VARCHAR(50),
    marks INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

In [14]:
INSERT INTO students VALUES
(1, 'Ram', 20, 'Computer Science'),
(2, 'Shyam', 21, 'Electrical Engineering'),
(3, 'Rohan', 22, 'Mechanical Engineering'),
(4, 'Sohan', 20, 'Computer Science');

In [15]:
INSERT INTO subjects VALUES
(101, 1, 'Math', 85),
(102, 1, 'Physics', 78),
(103, 2, 'Math', 90),
(104, 2, 'Electronics', 82),
(105, 3, 'Math', 88),
(106, 4, 'Computer Networks', 80);

## Using WHERE Clause

In [16]:
SELECT * 
FROM students
WHERE department = 'Computer Science';

student_id,name,age,department
1,Ram,20,Computer Science
4,Sohan,20,Computer Science

## Using ORDER BY Clause

In [17]:
SELECT name, age
FROM students
ORDER BY age DESC;

name,age
Rohan,22
Shyam,21
Ram,20
Sohan,20

## Using GROUP BY Clause

In [18]:
SELECT student_id, AVG(marks) AS average_marks
FROM subjects
GROUP BY student_id;

student_id,average_marks
1,81.5000
2,86.0000
3,88.0000
4,80.0000

## Using HAVING Clause

In [19]:
SELECT student_id, AVG(marks) AS average_marks
FROM subjects
GROUP BY student_id
HAVING AVG(marks) > 80;

student_id,average_marks
1,81.5000
2,86.0000
3,88.0000

## Using UNION

In [20]:
SELECT name AS result FROM students
UNION
SELECT subject_name FROM subjects;

result
Ram
Shyam
Rohan
Sohan
Math
Physics
Electronics
Computer Networks

## Using INTERSECT

In [21]:
SELECT student_id 
FROM subjects
WHERE subject_name = 'Math'
AND student_id IN (
    SELECT student_id 
    FROM subjects 
    WHERE subject_name = 'Physics'
);

student_id
1

## Using EXCEPT

In [22]:
SELECT student_id 
FROM subjects 
WHERE subject_name = 'Math'
AND student_id NOT IN (
    SELECT student_id 
    FROM subjects 
    WHERE subject_name = 'Physics'
);

student_id
2
3