# **<u>DBMS Experiment 5</u>**

In [1]:
CREATE DATABASE CS210Exp5;

In [2]:
USE CS210Exp5;

In [18]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    department VARCHAR(50),
    enrollment_date DATE
);

In [19]:
CREATE TABLE subjects (
    subject_id INT PRIMARY KEY,
    student_id INT,
    subject_name VARCHAR(50),
    marks INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

In [20]:
INSERT INTO students VALUES
(1, 'Ram Kumar', 20, 'Computer Science', '2022-08-10'),
(2, 'Shyam Singh', 21, 'Electrical Engineering', '2021-09-15'),
(3, 'Rohan Sharma', 22, 'Mechanical Engineering', '2023-01-12'),
(4, 'Sohan Raja', 20, 'Computer Science', '2020-06-20');

In [21]:
INSERT INTO subjects VALUES
(101, 1, 'Math', 85),
(102, 1, 'Physics', 78),
(103, 2, 'Math', 90),
(104, 2, 'Electronics', 82),
(105, 3, 'Math', 88),
(106, 4, 'Computer Networks', 80);

## String Functions

In [22]:
SELECT UPPER(name) AS uppercase_name
FROM students;

uppercase_name
RAM KUMAR
SHYAM SINGH
ROHAN SHARMA
SOHAN RAJA

In [23]:
SELECT CONCAT(name, ' - ', department) AS student_info
FROM students;

student_info
Ram Kumar - Computer Science
Shyam Singh - Electrical Engineering
Rohan Sharma - Mechanical Engineering
Sohan Raja - Computer Science

In [24]:
SELECT name, LENGTH(name) AS name_length
FROM students;

name,name_length
Ram Kumar,9
Shyam Singh,11
Rohan Sharma,12
Sohan Raja,10

## Numeric Functions

In [25]:
SELECT MAX(marks) AS highest_marks, MIN(marks) AS lowest_marks
FROM subjects;

highest_marks,lowest_marks
90,78

In [26]:
SELECT subject_name, ABS(90 - marks) AS diff_from_90
FROM subjects;

subject_name,diff_from_90
Math,5
Physics,12
Math,0
Electronics,8
Math,2
Computer Networks,10

In [27]:
SELECT subject_name, ROUND(marks, 0) AS rounded_marks
FROM subjects;

subject_name,rounded_marks
Math,85
Physics,78
Math,90
Electronics,82
Math,88
Computer Networks,80

## Date and Time Functions

In [28]:
SELECT NOW() AS 'current_time';

current_time
2025-03-17 18:51:26

In [29]:
SELECT name, YEAR(enrollment_date) AS year, MONTH(enrollment_date) AS month
FROM students;

name,year,month
Ram Kumar,2022,8
Shyam Singh,2021,9
Rohan Sharma,2023,1
Sohan Raja,2020,6

In [30]:
SELECT name, DATEDIFF(NOW(), enrollment_date) AS days_since_enrollment
FROM students;

name,days_since_enrollment
Ram Kumar,950
Shyam Singh,1279
Rohan Sharma,795
Sohan Raja,1731

## Aggregate Functions

In [31]:
SELECT student_id, AVG(marks) AS average_marks
FROM subjects
GROUP BY student_id;

student_id,average_marks
1,81.5000
2,86.0000
3,88.0000
4,80.0000

In [32]:
SELECT department, COUNT(*) AS student_count
FROM students
GROUP BY department;

department,student_count
Computer Science,2
Electrical Engineering,1
Mechanical Engineering,1

## Conditional Functions

In [33]:
SELECT name, 
       IF(marks >= 80, 'Pass', 'Fail') AS result
FROM students
JOIN subjects ON students.student_id = subjects.student_id;

name,result
Ram Kumar,Pass
Ram Kumar,Fail
Shyam Singh,Pass
Shyam Singh,Pass
Rohan Sharma,Pass
Sohan Raja,Pass

In [34]:
SELECT name, 
       CASE 
           WHEN marks >= 90 THEN 'A'
           WHEN marks >= 80 THEN 'B'
           WHEN marks >= 70 THEN 'C'
           ELSE 'F'
       END AS grade
FROM students
JOIN subjects ON students.student_id = subjects.student_id;

name,grade
Ram Kumar,B
Ram Kumar,C
Shyam Singh,A
Shyam Singh,B
Rohan Sharma,B
Sohan Raja,B

## Creating a View

In [35]:
CREATE VIEW student_average_marks AS
SELECT s.student_id, s.name, AVG(sub.marks) AS average_marks
FROM students s
LEFT JOIN subjects sub ON s.student_id = sub.student_id
GROUP BY s.student_id, s.name;

## Using the View

In [36]:
SELECT * 
FROM student_average_marks
WHERE average_marks > 80;

student_id,name,average_marks
1,Ram Kumar,81.5000
2,Shyam Singh,86.0000
3,Rohan Sharma,88.0000

## Drop the View

In [38]:
DROP VIEW student_average_marks;