# **<u>DBMS Experiment 6</u>**

In [1]:
CREATE DATABASE CS210Exp6;

In [2]:
USE CS210Exp6;

In [3]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    dept VARCHAR(50)
);

In [4]:
CREATE TABLE subjects (
    subject_id INT PRIMARY KEY,
    student_id INT,
    subject_name VARCHAR(50),
    marks INT,
    FOREIGN KEY (student_id) REFERENCES students(student_id)
);

In [5]:
INSERT INTO students VALUES
(1, 'Ram Kumar', 20, 'Computer Science'),
(2, 'Shyam Singh', 21, 'Electrical Engineering'),
(3, 'Rohan Sharma', 22, 'Mechanical Engineering'),
(4, 'Sohan Raja', 20, 'Computer Science');

In [6]:
INSERT INTO subjects VALUES
(101, 1, 'Math', 85),
(102, 1, 'Physics', 78),
(103, 2, 'Math', 90),
(104, 2, 'Electronics', 82),
(105, 3, 'Math', 88),
(106, 4, 'Computer Networks', 80);

## Nested Queries

In [7]:
SELECT name,
       (SELECT MAX(marks) 
        FROM subjects 
        WHERE subjects.student_id = students.student_id) AS highest_marks
FROM students;

name,highest_marks
Ram Kumar,85
Shyam Singh,90
Rohan Sharma,88
Sohan Raja,80

In [8]:
SELECT name
FROM students
WHERE student_id IN (
    SELECT student_id
    FROM subjects
    WHERE marks > 80
);

name
Ram Kumar
Shyam Singh
Rohan Sharma

In [9]:
SELECT name
FROM students s
WHERE EXISTS (
    SELECT 1
    FROM subjects sub
    WHERE sub.student_id = s.student_id
    AND sub.marks > (
        SELECT AVG(marks)
        FROM subjects
        WHERE student_id = s.student_id
    )
);

name
Ram Kumar
Shyam Singh

## INNER JOIN

In [10]:
SELECT s.name, sub.subject_name, sub.marks
FROM students s
INNER JOIN subjects sub ON s.student_id = sub.student_id;

name,subject_name,marks
Ram Kumar,Math,85
Ram Kumar,Physics,78
Shyam Singh,Math,90
Shyam Singh,Electronics,82
Rohan Sharma,Math,88
Sohan Raja,Computer Networks,80

## LEFT JOIN

In [11]:
SELECT s.name, sub.subject_name, sub.marks
FROM students s
LEFT JOIN subjects sub ON s.student_id = sub.student_id;

name,subject_name,marks
Ram Kumar,Math,85
Ram Kumar,Physics,78
Shyam Singh,Math,90
Shyam Singh,Electronics,82
Rohan Sharma,Math,88
Sohan Raja,Computer Networks,80

## RIGHT JOIN

In [12]:
SELECT s.name, sub.subject_name, sub.marks
FROM students s
RIGHT JOIN subjects sub ON s.student_id = sub.student_id;

name,subject_name,marks
Ram Kumar,Math,85
Ram Kumar,Physics,78
Shyam Singh,Math,90
Shyam Singh,Electronics,82
Rohan Sharma,Math,88
Sohan Raja,Computer Networks,80

## FULL OUTER JOIN

In [13]:
SELECT s.name, sub.subject_name, sub.marks
FROM students s
LEFT JOIN subjects sub ON s.student_id = sub.student_id

UNION

SELECT s.name, sub.subject_name, sub.marks
FROM students s
RIGHT JOIN subjects sub ON s.student_id = sub.student_id;

name,subject_name,marks
Ram Kumar,Math,85
Ram Kumar,Physics,78
Shyam Singh,Math,90
Shyam Singh,Electronics,82
Rohan Sharma,Math,88
Sohan Raja,Computer Networks,80

## SELF JOIN

In [16]:
SELECT s1.name AS student1, s2.name AS student2, s1.dept
FROM students s1
JOIN students s2 ON s1.dept = s2.dept
WHERE s1.student_id < s2.student_id;

student1,student2,dept
Ram Kumar,Sohan Raja,Computer Science